#banner.container-fluid.bg.text-center.vh-93
  .row.flex-column.justify-content-center.align-items-center.h-100
    p.title-white.text-shadow.mb-4 Welcome to Travel Taiwan
    .row.d-flex.justify-content-center.align-items-center 
      select#type.select.select-sm.mr-3.mr-sm-1(name="type") 
        option(value="null") 類別
      select#city.select.select-lg.mr-3.mr-sm-1(name="city") 
        option(value="null") 所有縣市
      a#searchBtn(href="#")
        img(src="img/search.svg", alt="search")