footer.container-fluid.bg.bg-primary.text-center.py-8
  p.text-white.fs-4.fs-sm-5.mb-1.d-sm-flex.flex-sm-column
    span.mr-3 CopyRight : Travel Taiwan
    span Design By : 
      a.mr-3(href="https://2021.thef2e.com/users/6296427084285739806?week=1&type=1" target="_black") Tracy
    span Code By : 
      a(href="https://2021.thef2e.com/users/6296427084285739736" target="_black") Jane Lin
  p.text-white.fs-4.fs-sm-5.d-flex.justify-content-center.align-items-center 
    span 資料來源：
    a.mr-3(href="https://tdx.transportdata.tw/api-service/swagger" target="_blank") 交通部PTX平臺
    img.d-inline-block.bg-white.col-1(src="img/ptx-logo.png", alt="PTX logo")