#modal.container-fluid.bg-overlay
  //- .modal__content.col-6
  //-   .modal__header 
  //-     a#closeBtn(href="#" data-close-button) 
  //-   .modal__body 
  //-     h2.mb-4 紫坪
  //-     p.mb-4
  //-       img.icon(src="img/geo.svg", alt="")
  //-       span 臺東縣951綠島鄉溫泉路256號
  //-     p.mb-8 紫坪位在綠島最南方，從附近的步道，可通往海岸邊的潟湖。此處是由珊瑚礁構成的潮池，也是綠島著名的潟湖所在地，有全綠島最完整的潟湖地形以及珊瑚礁植群，更有茂盛的植物水芫花和珍貴的陸寄居蟹。
  //-     img.mb-8(src="img/activities.png", alt="")
  //-   .modal__footer
  //-     ul.text-primary.d-flex
  //-       li
  //-         img.icon(src="img/clock.svg", alt="")
  //-         span 全天候開放
  //-       li
  //-         img.icon(src="img/ticket.svg", alt="")
  //-         span 免費入場
  //-       li
  //-         img.icon(src="img/phone.svg", alt="")
  //-         span 02-1154-7789
  //-       li
  //-         img.icon(src="img/list.svg", alt="")
  //-         span 自然風景類
