
// radius
$radius: 0.5rem;


// colors
$primary: #08A6BB;
$secondary: #6F7789;
$darkgray: #525151;
$lightgray: #CBCBCB;
$white: #FFF;
$black: #313131;

$theme-title: "primary",
"secondary",
"darkgray",
"lightgray",
"white",
"black";

$theme-colors:(
  "primary": $primary,
  "secondary": $secondary,
  "darkgray": $darkgray,
  "lightgray": $lightgray,
  "white": $white,
  "black": $black
);


// font-weight
$fw-title: "heavy", "bold", "medium", "normal", "light";

$fw-size: (
  "heavy": 900,
  "bold": 700,
  "medium": 500,
  "normal": 400,
  "light": 300
);


// font-size
$fs-base: 16px;

$fs-title: "1", "2", "3", "4", "5", "6";

$fs-size: (
  "1": $fs-base * 3,
  "2": $fs-base * 1.875,
  "3": $fs-base * 1.25,
  "4": $fs-base * 1,
  "5": $fs-base * 0.875,
  "6": $fs-base * 0.75
);


// media
$media-scale: "lg", "md", "sm";

$breakpoint-size: (
  "lg": 1200px,
  "md": 768px,
  "sm": 576px
  );

$width-size: (
  "lg": 1140px,
  "md": 720px,
  "sm": 345px
  );


// grid
$col-list: "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12";

$col-width: (
  "1": 8.33%,
  "2": 16.67%,
  "3": 25%,
  "4": 33.33%,
  "5": 41.67%,
  "6": 50%,
  "7": 58.33%,
  "8": 66.67%,
  "9": 75%,
  "10": 83.33%,
  "11": 91.67%,
  "12": 100%
);


// spacer  
$spacer: 16px;

$spacer-list: "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14";

$spacer-map: (
  "0": $spacer * 0,
  "1": $spacer * 0.5,
  "2": $spacer * 1,
  "3": $spacer * 1.25,
  "4": $spacer * 1.5,
  "5": $spacer * 1.875,
  "6": $spacer * 2,
  "7": $spacer * 2.375,
  "8": $spacer * 3,
  "9": $spacer * 3.5,
  "10": $spacer * 4,
  "11": $spacer * 4.75,
  "12": $spacer * 5.625,
  "13": $spacer * 7,
  "14": $spacer * 7.5
);  


// direction
$direction-list: "t", "r", "b", "l";

$direction-map: (
  "t": "top",
  "r": "right",
  "b": "bottom",
  "l": "left"
);  






