#pagination {
  display: flex;
  justify-content: center;

  li a{
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 22px;
    text-align: center;
    user-select: none;
    transition: .2s;
    @include phone {
      width: 32px;
      height: 32px;
      line-height: 32px;
      font-size: $fs-base;
    }
  }
  
  li a.active {
    color: $white;
    background: $primary;
  }

  li a:hover:not(.active){
    background: $lightgray;
  }
}